body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.scene {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100vh;
    z-index: -1;
}

.layer {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 110%;
    height: 110%;
    /* min-height: 100vh; */
}

.layer-bg {
    background: url("img/parallax_bg.jpg") center no-repeat;
    background-size: cover;
}

.layer-1 {
    background: url("img/parallax_layer1.png") center no-repeat;
    background-size: cover;
}

.layer-2 {
    background: url("img/parallax_layer2.png") center no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}