body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.scene {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* min-height: 100vh;
    min-width: 100vw; */
}

.layer {
    min-height: 100vh;
    /* min-width: 100vw; */
}

.layer-bg {
    background: url("img/parallax_bg.jpg") center no-repeat;
    background-size: cover;
}

.layer-1 {
    background: url("img/parallax_layer1.png") center no-repeat;
    background-size: cover;
}

.layer-2 {
    background: url("img/parallax_layer2.png") center no-repeat;
    background-size: cover;
}